# Install ngnix as reverse proxy on server. App is exposed to port 3000, while the server listens on 80
# Install ssl certificate based on the provided instructions
# 
# Install ngnix with 
#        sudo apt install nginx
# Install certbox and run it with:
#        sudo apt install certbot python3-certbot-nginx
#        sudo certbot --nginx -d itlinks.me -d www.itlinks.me
# The nginx file should look similar to this config file then. You can test it with      
#
#        sudo nginx -t
#        sudo systemctl reload nginx
#
# The nginx file is available at /etc/nginx/sites-available/default
#
# To ensure the npm start process runs continously, we use pm2 package
#
# To start, use |pm2 --name ItLinks start npm -- start|, to list |pm2 ps| and to stop |pm2 delete 0|, to check logs |pm2 logs|


server {
    listen 80;
    server_name itlinks.me www.itlinks.me;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name itlinks.me www.itlinks.me;

    ssl_certificate /etc/letsencrypt/live/itlinks.me/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/itlinks.me/privkey.pem;

    location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
